name: Latexdiff
on: [push,pull_request]
jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout new version
        uses: actions/checkout@v2
        with:
          path: new
      - name: Checkout old version
        uses: actions/checkout@v2
        with:
          path: old
          ref: ${{ github.repository }}
      - name: Install latexdiff
        run: sudo apt-get install latexdiff
      - name: Run latexdiff
        run: latexdiff --flatten old/main.tex new/main.tex > diff.tex
      - name: Compile LaTeX difference document
        uses: xu-cheng/latex-action@v2
        with:
          root_file: diff.tex
      - name: Upload
        uses: actions/upload-artifact@master
        with:
          name: diff
          path: diff.pdf
