name: Update latexdiff on push

on:
  push:
    # Add file paths here to trigger the workflow only when these files are modified (optional)
    paths:
    - main.tex

jobs:
  latexdiff-action:
    runs-on: ubuntu-latest
    steps:
      - name: Set up Git repository
        uses: actions/checkout@v2
        with:
          fetch-depth: 2
      - uses: tawalaya/latex-diff-action@v1
        with:
          root_file: main.tex
      - uses: upload-artifact@v2
        with:
          name: diff
          path: |
            diff.pdf
            stats.txt
            main.pdf
